body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 120vh;

}

.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

#loading {
    background-color: lightblue;
    border-radius: 50%;
    width: 15%;
    height: 10%;
    left: 42.5%;
    top: 65%;
    /* display: none; */
    z-index: 100000;
    position: absolute;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes circle {
    from {
        background-color: lightblue;
    }

    to {
        background-color: rgb(27, 75, 235);
    }
}