/* Smartphones -----------
@media only screen and (max-width: 760px) {
    #some-element {
        display: none;
    }
} */

#startButton {
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 50%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#startButton:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);

}

#startDevtestButton {
    position: absolute;
    left: 27.5%;
    top: 20%;
    width: 45%;
    height: 60%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#moneyCar {
    position: absolute;
    left: 10%;
    top: 25%;
    width: 80%;
    height: 60%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    animation-duration: 0.8s;
    animation-name: moneyCarMove;
}

@keyframes moneyCarMove {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-15deg) scale(1.5);
    }

    100% {
        transform: rotate(0deg);
    }
}



#startYellowTestButton {
    position: absolute;
    left: 24%;
    top: 1%;
    width: 52%;
    height: 99%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

/* #startYellowTestButton:active {
    transform: translateY(4px);
} */

#startSwitchTestButton {
    position: absolute;
    left: 27.5%;
    top: 10%;
    width: 45%;
    height: 80%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

/* #startSwitchTestButton:active {
    transform: translateY(4px);
} */

#startDevtestButtonBlue {
    position: absolute;
    left: 26.5%;
    top: 20%;
    width: 47%;
    height: 64%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

/* #startDevtestButtonBlue:active {
    transform: translateY(4px);
} */

#startDevtestButtonRed {
    position: absolute;
    left: 26.5%;
    top: 20%;
    width: 47%;
    height: 64%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

/* #startDevtestButtonRed:active {
    transform: translateY(4px);
} */

#redButton {
    position: absolute;
    left: 0%;
    top: 35%;
    width: 20%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#redButton:active {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);

}

#blueButton {
    position: absolute;
    left: 80%;
    top: 35%;
    width: 20%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#blueButton:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

#gameScreen {
    /*background-image: url('road2.png'), url("desert.png");*/
    background-image: url('pics/road.png');
    height: 100%;
    width: 59%;
    left: 20.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: none;

}


#blueCar {
    width: 4%;
    height: 20%;
    left: 48%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: blueCarMoving;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    display: none;
    /*animation-iteration-count: infinite;
    animation-fill-mode: initial;*/
}

@keyframes blueCarMoving {
    from {
        top: 130%
    }

    to {
        top: -30%
    }

    ;
}

#redCar {

    width: 4%;
    height: 20%;
    left: 48%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: redCarMoving;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    display: none;
}

@keyframes redCarMoving {
    from {
        top: 130%
    }

    to {
        top: -30%
    }

    ;

}

#yellowCar {

    width: 4%;
    height: 20%;
    left: 48%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: yellowCarMoving;
    animation-duration: 0.9s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    display: none;
}

@keyframes yellowCarMoving {
    from {
        top: 130%
    }

    to {
        top: -30%
    }
}

#airplane {

    width: 4%;
    height: 10%;
    left: 45%;
    top: 110%;
    animation-play-state: paused;
    position: absolute;
    animation-name: airplaneMoving;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    display: none;
    animation-delay: 1000ms;
}

@keyframes airplaneMoving {
    from {
        top: 110%
    }

    to {
        top: -30%
    }
}

#startPage {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins2 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins3 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins4 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins5 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins6 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins7 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins8 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins9 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins10 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins11 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins12 {
    position: absolute;
    left: 2.5%;
    top: 2%;
    width: 95%;
    height: 95%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#ins13 {
    position: fixed;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 75%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#doNotDisturbPage {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}

#qPage {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: -1;
}


#next {
    position: fixed;
    left: 29%;
    top: 87%;
    width: 42%;
    height: 10%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#next:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);

}

#doNotDisturb {
    position: fixed;
    left: 20%;
    top: 65%;
    width: 60%;
    height: 17%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#doNotDisturb:active {
    transform: translateY(4px);

}

#doNotDisturbGoBack {
    position: fixed;
    left: 35%;
    top: 85%;
    width: 28%;
    height: 10%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#doNotDisturbGoBack:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);

}

#demoStart {
    position: fixed;
    left: 27.5%;
    top: 80%;
    width: 45%;
    height: 15%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#demoStart:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);

}

#iphone {
    position: fixed;
    left: 10%;
    top: 28%;
    width: 35%;
    height: 40%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;


}

#iphone:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

#notIphone {
    position: fixed;
    left: 55%;
    top: 28%;
    width: 35%;
    height: 40%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#notIphone:active {
    transform: translateY(4px);
}

#wrongRed {
    position: fixed;
    left: 28.5%;
    top: 28%;
    width: 43%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#wrongBlue {
    position: fixed;
    left: 28.5%;
    top: 28%;
    width: 43%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#corrRed {
    position: fixed;
    left: 28.5%;
    top: 28%;
    width: 43%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#corrBlue {
    position: fixed;
    left: 28.5%;
    top: 28%;
    width: 43%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#rest {
    position: fixed;
    left: 25%;
    top: 65%;
    width: 25%;
    height: 20%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#pressButton {
    position: fixed;
    left: 32.5%;
    top: 28%;
    width: 35%;
    height: 34%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#qStart {
    position: fixed;
    left: 36%;
    top: 65%;
    width: 28%;
    height: 27%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#qStart:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

#startAfterInstructions {
    position: fixed;
    left: 36%;
    top: 65%;
    width: 28%;
    height: 27%;
    border: none;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

/* #startAfterInstructions:active {
    transform: translateY(4px);

} */

#startAfterSwitchTestButton {
    position: absolute;
    left: 27.5%;
    top: 20%;
    width: 45%;
    height: 60%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

/* #startAfterSwitchTestButton:active {
    transform: translateY(4px);

} */

#wakeup {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#endOfGame {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#endOfGame_hor {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#fiveAM {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#fiveAM_hor {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#endDayMsg {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#endYellowTestButton {
    position: absolute;
    left: 22.5%;
    top: 22.5%;
    width: 55%;
    height: 65%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

/* #endYellowTestButton:active {
    transform: translateY(4px);
} */

#break {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#secCountdown {

    position: absolute;
    left: 17%;
    top: 32%;
    width: 55%;
    height: 60%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}


#TenSecTimeout {

    position: absolute;
    left: 40%;
    top: 60%;
    width: 20%;
    height: 30%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#fifteen {

    position: absolute;
    left: 40%;
    top: 60%;
    width: 20%;
    height: 30%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#horizontal {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: 9999;
}

#installation_guide {

    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: +3;
}

#moveToScreen {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#yellowCars {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 40%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

iframe[seamless] {
    display: none;
}

#problem {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#problem_hor {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#star {
    position: absolute;
    width: 18%;
    height: 24%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#startStarTestButton {
    position: absolute;
    left: 24.5%;
    top: 1%;
    width: 52%;
    height: 99%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#startAfterStarTestButton {
    position: absolute;
    left: 27.5%;
    top: 17%;
    width: 45%;
    height: 62%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#moveToAppButton {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;

}

#fiveAM_hor {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: 99991;

}

#fiveAM {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
    z-index: 99991;

}

#moveToAppText {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 15%;
    border: none;
    color: none;
    background-color: transparent;
    display: none;
}

#startImage {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    background-color: transparent;
    display: inline;
    z-index: 100;
}

#front {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    color: none;
    z-index: 999;
    background-color: transparent;
    display: none;

}

#loading {
    background: lightblue;
    border-radius: 50%;
    width: 16%;
    height: 10%;
    left: 42.5%;
    top: 65%;
    display: none;
    z-index: 9999999;
    position: absolute;
    animation-name: goCircle;
    -webkit-animation-name: goCircle;
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes goCircle {
    from {
        background: lightblue;

    }

    to {
        background: blue;

    }

}

@-webkit-keyframes goCircle {
    from {
        background: lightblue;
    }

    to {
        background: rgb(118, 118, 231);
    }

}